<style>
    body {background-color: black;}
    h1 {text-align: center;color: blue;}
    p {text-align: center;color: red;}
</style>

<body>

<h1>This is just a test. But still, it's very cool.</h1>

<%= link_to 'Click here to go to the Home page', root_path %>

</body>