<style>
    body {background-color: black;}
    h1 {text-align: center;color: blue;}
    p {text-align: center;color: red;}
</style>

<body>
    
<h1>Welcome to the Travel Blog of Luke and Jessica</h1>
<h1>Here we catalogue all of out travel experiences</h1>
<hr>

<p text-align: left>This is just some text.</p></p>

<%= link_to 'Click here to go to the About page', about_path %>

</body>