<style>
    body {background-color: black;}
    h1 {text-align: center;color: blue;}
    p {text-align: center;color: red;}
</style>

<body>
    
<h1>Welcome to the Travel Blog of Luke and Jessica</h1>
<h1>Here we catalogue all of out travel experiences</h1>
<hr>

<p text-align: left>Here is some perspective for you. Today Jessica and I were riding the train on the way home from picking up our wedding invitations.</p></p>

<%= link_to 'Click here to go to the About page', about_path %>

</body>